{{> cabecalho}}

<section class="erro">
    <p class="erro__codigo">404</p>
    <h1 class="erro__titulo">Página não encontrada</h1>
    <p class="erro__texto">
        O endereço que você tentou acessar não existe ou foi movido.
    </p>
    <a class="botao" href="/">Voltar ao início</a>
</section>

{{> rodape}}
