{{> cabecalho}}

<section class="erro">
    <p class="erro__codigo">500</p>
    <h1 class="erro__titulo">Algo deu errado</h1>
    <p class="erro__texto">
        Ocorreu um erro inesperado no servidor. Tente novamente em
        alguns instantes.
    </p>
    <a class="botao" href="/">Voltar ao início</a>
</section>

{{> rodape}}
