{{> cabecalho}}

<section class="pagina pagina--estreita">
    <p class="pagina__supra">Iniciar</p>
    <h1 class="pagina__titulo">Nova conversa</h1>

    {{> flash}}

    {{#if usuarios.length}}
        <form class="formulario" method="post" action="/conversas">
            <input type="hidden" name="tipo" value="individual">

            <div class="campo">
                <span class="campo__rotulo">Contato <em>*</em></span>
                <p class="campo__ajuda">
                    Escolha com quem você quer conversar.
                </p>
                <div class="lista-selecao">
                    {{#each usuarios}}
                        <label class="opcao opcao--linha">
                            <input type="radio" name="participantes"
                                value="{{this.id}}"
                                {{#if (incluiId ../valores.participantes this.id)}}checked{{/if}}>
                            <span>
                                <strong>{{this.nome}}</strong>
                                <span class="opcao__sub">{{this.telefone}}</span>
                            </span>
                        </label>
                    {{/each}}
                </div>
            </div>

            <button class="botao botao--bloco" type="submit">Iniciar conversa</button>
        </form>
    {{else}}
        <div class="vazio">
            <p class="vazio__titulo">Nenhum outro usuário cadastrado</p>
            <p class="vazio__texto">
                É preciso haver outro usuário no sistema para iniciar uma conversa.
            </p>
        </div>
    {{/if}}

    <p class="cartao__rodape">
        <a href="/conversas">Voltar para as conversas</a>
    </p>
</section>

{{> rodape}}